//Style for responsive
//==================================================
& when (@responsive), (@adaptive) {
	@import "../mediaqueries/responsive";
}
//Style for responsive
//==================================================
& when (@print) {
	@media only print {
		@import "../mediaqueries/print";
	}
}